.container{
    margin: auto;
    width: 50%;    
    background: rgba(0,0,0,0.3);
}
@media only screen and (max-width: 600px) {
    .container{
        margin: auto;
        width: 100%;    
        background: rgba(0,0,0,0.3);
    }
}
#hh{
    color:white;
    margin-bottom: 1%;
}
.lab{
    color:white;
    margin: 2%;
    font-size: large;
}
.labelClass{
    color:white;
    margin: 2%;
    font-size: large;
}
#formm{
    padding: 2%;
    color:white
}
#inputBorder{
    /* outline: 0; */
    background: none;
    border: 1px solid white;
    color: white;
    font-size: medium;
}


.btn{
    background: none;
    border: 1px solid white;
    color: white;

}
.btn:hover{
    background-color: white;
    color: black;
    transition: 0.5s;

}