.ag-theme-alpine {
    /* use theme parameters where possible */
    --ag-foreground-color: white;
    --ag-background-color: transparent;
    /* --ag-border-1: none;
    --ag-border-color-2: transparent; */
    --ag-borders: false;
    --ag-border:none;
    --ag-cell-horizontal-border: solid transparent,
}

.ag-theme-alpine .ag-header {
    background-color:transparent;
}
.ag-group {
    border-color: green;
}
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px  #3BB7C4; 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}