/* .contain{
    width: auto;
    text-align: center;
    margin: 2%;
} */
.heading{
    padding: 1%;
    margin: auto;
    background: rgba(0,0,0,0.3);
    text-align: center;
}
#tbl{
    color: white;
}
/* table, th, td {
    border: 1px solid white;
    margin: 20px;
    padding: 10px;
  } */
  .ag-theme-alpine {
    /* use theme parameters where possible */
    --ag-foreground-color:white;
    --ag-background-color:transparent;
    /* borders:'false'; */
}

/* or write CSS selectors to make customisations beyond what the parameters support */
.ag-theme-alpine .ag-header {
    background-color:transparent;

}
#but1{
 height: 29px;
 text-align: center;
}
.grid-cell-centered{
    text-align: center;
}
.ag-header-cell-label {
    justify-content: center;
 }
 @media only screen and (min-width: 600px){
    .table-container{
        margin: auto;
        width: 70%;
        background-color: transparent;
        margin-top: 2%;
     }
 }
 
 
