body {
  margin: 0;
  padding:0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  list-style: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.btnClass
{
  color:white;
  background-color:transparent;
  height: 40px;
  border-radius: 5px;
  outline: 0;
  border-color: white;
}
.btnClass:hover
{
  color:black;
  background-color:white;
  opacity: 1;
}
h3
{
  color:white;
}
.trialClass
{
 background: transparent;
 color:white;
 
}
#danger-id{
  outline: 0;
  background: none;
  border: 1px solid #C0392B;
  color: white;
  font-size: medium;
}
