body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.btnClass
{
  color:#3BB7C4;
  background-color:transparent;
  height: 40px;
  border-radius: 5px;
  outline: 0;
  border-color: #3BB7C4;
}
.btnClass:hover
{
  color: white;
  background-color:#3BB7C4;
  opacity: 1;
}
h3
{
  color:#3BB7C4;
}